In [61]:
import requests
import pandas as pd
import time

Step 1: get the fund code list

In [ ]:
url = 'https://1web.apse1.dgt.api.fwd.com/api/fund/prices'

In [2]:
categoryCode_list = ['VY', 'AT', 'HZ', 'IV', 'IW', 'LM' ]

In [1]:
payload = {"market":"HK","locale":"zh-CN","filters":[{"categoryCode":categoryCode,"categoryType":"PLAN","source":"planNameFilters"}],"fundInvestmentCodeList":[]}

In [67]:
fundCode_list_all = []
for categoryCode in categoryCode_list:
    r = requests.post("https://1web.apse1.dgt.api.fwd.com/api/fund/prices",
    json={"market":"HK","locale":"zh-CN","filters":[{"categoryCode":categoryCode,"categoryType":"PLAN","source":"planNameFilters"}],"fundInvestmentCodeList":[]},
    headers={
        "accept": "application/json, text/plain, */*",
        "accept-encoding": "gzip, deflate, br",
        "accept-language": "zh-TW,zh;q=0.9,en-US;q=0.8,en;q=0.7",
        "authorization": "ZndkbW10OmZ3ZG1tdDJAMjE",
        "content-length": "143",
        "origin": "https://www.fwd.com.hk",
        "referer": "https://www.fwd.com.hk/",
        "sec-ch-ua": "\"Chromium\";v=\"116\", \"Not)A;Brand\";v=\"24\", \"Google Chrome\";v=\"116\"",
        "sec-ch-ua-mobile": "?0",
        "sec-ch-ua-platform": "\"Windows\"",
        "sec-fetch-dest": "empty",
        "sec-fetch-mode": "cors",
        "sec-fetch-site": "cross-site",
        "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36",
    })
    temp = {}
    temp['cat'] = categoryCode
    temp_list = []
    for fund in r.json()['result']['funds']:
        temp_list.append(fund['code'])
    temp['funds'] = temp_list
    fundCode_list_all.append(temp)

In [69]:
for d in fundCode_list_all:
    print(d['cat'])

VY
AT
HZ
IV
IW
LM

In [70]:
pd.DataFrame(fundCode_list_all)

  cat                                              funds
0  VY  [BEBC, BEIC, BEUA, CAMM, CAVO, VPGH, ABCA, ABE...
1  AT  [BEUA, CAAJ, CACE, CAGB, CAIN, CALA, CAMM, CAV...
2  HZ         [BEUH, PRHK, VPCG, GJGC, RCHK, SCHB, SCHK]
3  IV  [BEBC, BEIC, BEUA, CALA, CAMM, CAVO, PRPS, PRS...
4  IW  [BEUA, CAAJ, CACE, CAGB, CAIN, CALA, CAMM, CAV...
5  LM  [BEUA, CAAJ, CACE, CAGB, CAIN, CALA, CAMM, CAV...

In [10]:
r.json()['result']['totalRecords']

81

In [19]:
fundCode_list = []
for fund in r.json()['result']['funds']:
    fundCode_list.append(fund['code'])

In [20]:
fundCode_list

['BEBC',
 'BEIC',
 'BEUA',
 'CAMM',
 'CAVO',
 'VPGH',
 'ABCA',
 'ABEB',
 'AZAI',
 'AZIC',
 'BAGB',
 'BAGY',
 'BAHK',
 'BAPA',
 'BASC',
 'BGAT',
 'BGCB',
 'BGGA',
 'BGHK',
 'BGHY',
 'BGNE',
 'BGTC',
 'BGWE',
 'BGWF',
 'BGWG',
 'BGWH',
 'BGWM',
 'BGWR',
 'FIAF',
 'FIAN',
 'FICC',
 'FIEC',
 'FIEE',
 'FIGD',
 'FIGH',
 'FIGM',
 'FITH',
 'FSAE',
 'FSCG',
 'FSGC',
 'FSJE',
 'FTBD',
 'FTEM',
 'FTGB',
 'FTGT',
 'FTTC',
 'FTTE',
 'FTUO',
 'HHAP',
 'HHSF',
 'HKBF',
 'HSAM',
 'HSIF',
 'ITGD',
 'ITGF',
 'ITGG',
 'ITGS',
 'ITGV',
 'JFAS',
 'JFCH',
 'JFCP',
 'JFEE',
 'JFGC',
 'JFJF',
 'JFSI',
 'MTAD',
 'MTAS',
 'MTCD',
 'MTCS',
 'PBAB',
 'PBAE',
 'PBDA',
 'PBGF',
 'PBIE',
 'PBLE',
 'PBUL',
 'PDIF',
 'SCCH',
 'SCFM',
 'SCGP',
 'SCHK']

In [21]:
pd.DataFrame(r.json()['result']['funds']).head()

,code,name,price,documents,currency,valuationDate,riskLevel,derivative,fundHouse,investmentChoice,symbols
0,BEBC,東亞聯豐投資系列 – 東亞聯豐亞洲債券及貨幣基金 H類股份 (分派),"{'bidPrice': '6.6500', 'offerPrice': '6.6500'}",[{'url': 'http://documents.financialexpress.ne...,HKD,21/09/2023,10,N,"{'categoryCode': 'BE', 'categoryType': 'FUND_H...","{'categoryCode': 'BF', 'categoryType': 'INV_CH...",[{'code': '§§'}]
1,BEIC,東亞聯豐投資系列 – 東亞聯豐亞太區多元收益基金A類股份 (分派),"{'bidPrice': '64.7600', 'offerPrice': '64.7600'}",[{'url': 'http://documents.financialexpress.ne...,HKD,21/09/2023,10,N,"{'categoryCode': 'BE', 'categoryType': 'FUND_H...","{'categoryCode': 'MF', 'categoryType': 'INV_CH...",[{'code': '§§'}]
2,BEUA,東亞聯豐投資系列–東亞聯豐亞洲債券及貨幣基金A 類別累積,"{'bidPrice': '19.3600', 'offerPrice': '19.3600'}",[{'url': 'http://documents.financialexpress.ne...,USD,21/09/2023,10,N,"{'categoryCode': 'BE', 'categoryType': 'FUND_H...","{'categoryCode': 'BF', 'categoryType': 'INV_CH...",[]
3,CAMM,東方匯理系列基金美元貨幣市場基金–A2美元(C) 類別,"{'bidPrice': '115.2500', 'offerPrice': '115.25...",[{'url': 'http://documents.financialexpress.ne...,USD,21/09/2023,10,N,"{'categoryCode': 'CA', 'categoryType': 'FUND_H...","{'categoryCode': 'MMF', 'categoryType': 'INV_C...",[]
4,CAVO,東方匯理收成基金–東方匯理越南機會基金,"{'bidPrice': '13.1430', 'offerPrice': '13.1430'}",[{'url': 'http://documents.financialexpress.ne...,USD,21/09/2023,30,N,"{'categoryCode': 'CA', 'categoryType': 'FUND_H...","{'categoryCode': 'EFAP', 'categoryType': 'INV_...",[]

In [56]:
pd.DataFrame(r.json()['result']['funds']).to_excel('FWD fund mapping.xlsx', index=False)

Step 2: scrape fund price for each fund code

In [45]:
def scrape(fundCode, categoryCode, limit):

    url = 'https://1web.apse1.dgt.api.fwd.com/api/fund/price/historical'

    payload= {"market":"HK","locale":"zh-CN","offset":0,"limit": limit,"fundCode": fundCode,"categoryCode": categoryCode}

    headers={
        "accept": "application/json, text/plain, */*",
        "accept-encoding": "gzip, deflate, br",
        "accept-language": "zh-TW,zh;q=0.9,en-US;q=0.8,en;q=0.7",
        "content-length": "92",
        "origin": "https://www.fwd.com.hk",
        "referer": "https://www.fwd.com.hk/",
        "sec-ch-ua": "\"Chromium\";v=\"116\", \"Not)A;Brand\";v=\"24\", \"Google Chrome\";v=\"116\"",
        "sec-ch-ua-mobile": "?0",
        "sec-ch-ua-platform": "\"Windows\"",
        "sec-fetch-dest": "empty",
        "sec-fetch-mode": "cors",
        "sec-fetch-site": "cross-site",
        "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36",
    }

    response = requests.post(url, json=payload, headers=headers)

    return response

In [46]:
def scrape_full_record(fundCode, categoryCode):
    # first request, scrape 10 items, just to get the total record count
    response = scrape(fundCode, categoryCode, 10)
    totalRecords = response.json()['result']['totalRecords']
    response2 = scrape(fundCode, categoryCode, totalRecords)
    return response2

In [57]:
# helper function to transform json response to df
def response2df(response):
    prices = response.json()['result']['prices']
    df = pd.DataFrame(prices)
    # df['fundDescription'] = response.json()['result']['fundDescription']
    df['fundCode'] = response.json()['result']['fundCode']
    df2 = pd.DataFrame(df.price.to_list())
    df3 = df.join(df2)
    df3.drop(columns='price', inplace=True)
    cols = ['fundCode', 'valuationDate', 'bidPrice', 'offerPrice']
    df3 = df3[cols]
    return df3

In [63]:
df_all = pd.DataFrame()
for fundCode in fundCode_list:
    print(fundCode)
    response = scrape_full_record(fundCode, categoryCode)
    df = response2df(response)
    df_all = pd.concat([df_all, df])
    time.sleep(1)

BEBC
BEIC
BEUA
CAMM
CAVO
VPGH
ABCA
ABEB
AZAI
AZIC
BAGB
BAGY
BAHK
BAPA
BASC
BGAT
BGCB
BGGA
BGHK
BGHY
BGNE
BGTC
BGWE
BGWF
BGWG
BGWH
BGWM
BGWR
FIAF
FIAN
FICC
FIEC
FIEE
FIGD
FIGH
FIGM
FITH
FSAE
FSCG
FSGC
FSJE
FTBD
FTEM
FTGB
FTGT
FTTC
FTTE
FTUO
HHAP
HHSF
HKBF
HSAM
HSIF
ITGD
ITGF
ITGG
ITGS
ITGV
JFAS
JFCH
JFCP
JFEE
JFGC
JFJF
JFSI
MTAD
MTAS
MTCD
MTCS
PBAB
PBAE
PBDA
PBGF
PBIE
PBLE
PBUL
PDIF
SCCH
SCFM
SCGP
SCHK

In [64]:
df_all

        fundCode valuationDate  bidPrice offerPrice
0     BEBC          21/09/2023    6.6500     6.6500
1     BEBC          20/09/2023    6.6500     6.6500
2     BEBC          19/09/2023    6.6600     6.6600
3     BEBC          18/09/2023    6.6600     6.6600
4     BEBC          15/09/2023    6.6700     6.6700
...          ...           ...       ...        ...
2854  SCHK          08/02/2012  245.8900   245.8900
2855  SCHK          07/02/2012  242.3900   242.3900
2856  SCHK          06/02/2012  242.4900   242.4900
2857  SCHK          03/02/2012  241.7400   241.7400
2858  SCHK          02/02/2012  240.9800   240.9800

[157214 rows x 4 columns]

In [65]:
df_all.to_excel('FWD fund prices_VY.xlsx', index=False)