In [29]:
#!pip install pytrends

In [4]:
from pytrends.request import TrendReq

In [5]:
# Only need to run this once, the rest of requests will use the same session.
pytrend = TrendReq()

In [6]:
# Create payload and capture API tokens. Only needed for interest_over_time(), interest_by_region() & related_queries()
pytrend.build_payload(kw_list=['Power BI', 'Python'])

# Interest Over Time
interest_over_time_df = pytrend.interest_over_time()
print(interest_over_time_df.tail(10))

            Power BI  Python  isPartial
date
2022-10-09         8      97      False
2022-10-16         8      91      False
2022-10-23         8      89      False
2022-10-30         8      92      False
2022-11-06         8      88      False
2022-11-13         8      96      False
2022-11-20         7      81      False
2022-11-27         8      91      False
2022-12-04         7      93      False
2022-12-11         7      92       True

In [22]:
# Interest by Region
interest_by_region_df = pytrend.interest_by_region()
interest_by_region_df[interest_by_region_df['Python'] != 0]

                      Power BI  Python
geoName
Argentina                   13      87
Australia                   15      85
Austria                      6      94
Bangladesh                   3      97
Belgium                     11      89
...                        ...     ...
Ukraine                      3      97
United Arab Emirates        15      85
United Kingdom              10      90
United States                6      94
Vietnam                      6      94

[63 rows x 2 columns]

In [8]:
# Related Queries, returns a dictionary of dataframes
related_queries_dict = pytrend.related_queries()
print(related_queries_dict)

{'Power BI': {'top':                    query  value
0       power bi desktop    100
1           microsoft bi     85
2     power bi microsoft     84
3           dax power bi     83
4                    dax     82
5                powerbi     78
6         power bi excel     76
7      download power bi     75
8        power bi report     70
9   power query power bi     68
10           power query     65
11       filter power bi     62
12    dashboard power bi     53
13             dashboard     48
14                   sql     44
15       power bi server     38
16      what is power bi     37
17      power bi measure     37
18       power bi slicer     34
19        login power bi     31
20      power bi tableau     30
21       dax in power bi     30
22               tableau     30
23         power bi free     27
24      power bi service     27, 'rising':                            query  value
0             power bi dataflows   8350
1     power bi paginated reports   2050
2                power bi entrar   1750
3   incremental refresh power bi   1550
4                 power automate   1450
5              linkedin learning    850
6         power bi license types    600
7               power bi tooltip    550
8        power bi para que sirve    450
9             power bi bookmarks    400
10    curso de power bi gratuito    400
11                udemy power bi    400
12                         udemy    350
13              o que é power bi    350
14       power bi report builder    300
15        power bi drill through    300
16             power bi inloggen    250
17                        python    250
18               power bi python    250
19       what is dax in power bi    250
20            power bi full form    250
21             curso de power bi    200
22               cursos power bi    200
23     what is power bi used for    200
24                power bi curso    190}, 'Python': {'top':                 query  value
0          python for    100
1         python list     92
2       python string     67
3         python code     40
4           python if     39
5     python function     38
6      python install     38
7      list in python     37
8              pandas     34
9       pandas python     32
10       python array     29
11    python download     28
12       print python     27
13  python dictionary     26
14     what is python     26
15     python windows     25
16      online python     24
17       monty python     22
18         python set     21
19       python class     21
20        json python     20
21              numpy     20
22        python time     19
23         python pip     18
24      python script     17, 'rising':                          query  value
0                 google colab  15300
1               joy of cooking   3700
2                   python 3.7   2450
3                       vscode   1750
4                poetry python   1200
5                replit python   1150
6                       replit   1100
7             python w3schools    850
8       python compiler online    750
9       python online compiler    750
10                   w3schools    750
11                 python venv    600
12          visual studio code    550
13                  hackerrank    400
14            jupyter notebook    400
15        data types in python    350
16  python virtual environment    300
17                    leetcode    300
18             python compiler    300
19                     jupyter    250
20               zen of python    200
21                      kaggle    200
22                       udemy    200
23                // in python    200
24            pandas dataframe    200}}

In [9]:
# Get Google Hot Trends data
trending_searches_df = pytrend.trending_searches()
print(trending_searches_df.head())

                    0
0          Black Adam
1            Mastodon
2  Liverpool vs Milan
3           Warhammer
4               Japan

In [28]:
# Get Google Hot Trends data
trending_searches_df = pytrend.trending_searches(pn='hong_kong')
trending_searches_df

               0
0            曾志豪
1         東涌交通意外
2            消費券
3            陳慧琳
4           澳門入境
5            張敬軒
6   OPPO Find N2
7             澳門
8             國歌
9             莊正
10          新冠感冒
11         PCAOB
12           陳卓賢
13           月歌行
14           廖子妤
15   Tyson Yoshi
16    Epic Games
17            加息
18     Starbucks
19           梁鳳儀

In [ ]:
# save today's google trend data (Hong Kong) to an excel file

In [26]:
from datetime import datetime
date_today = datetime.today().strftime('%Y-%m-%d')
print(date_today)

2022-12-17

In [27]:
trending_searches_df.to_excel('Google trends hk ' + date_today + '.xlsx')

In [19]:
# Get Google Top Charts
top_charts_df = pytrend.top_charts(2022, hl='en-US', tz=300, geo='HK')
print(top_charts_df.head(10))

        title exploreQuery
0        疫苗預約        疫苗 預約
1        強制檢測        強制 檢測
2   iPhone 14
3         烏克蘭
4        安倍晉三
5      URBTIX
6  MIRROR 演唱會
7        美麗戰場        美麗 戰場
8        快速測試
9         李家超

In [12]:
# Get Google Top Charts
top_charts_df = pytrend.top_charts(2021, hl='en-US', tz=300, geo='HK')
print(top_charts_df.head(10))

       title exploreQuery
0      消費券登記      消費 券 登記
1         奧運
2       疫苗預約        疫苗 預約
3  iPhone 13
4        梅艷芳
5        何詩蓓
6        張家朗
7       安心出行        安心 出行
8       魷魚遊戲        魷魚 遊戲
9        盧瀚霆     Anson Lo

In [13]:
# Get Google Top Charts
top_charts_df = pytrend.top_charts(2020, hl='en-US', tz=300, geo='HK')
print(top_charts_df.head(10))

      title exploreQuery
0      美國大選
1  HKTVmall
2       天文台
3    新型冠狀病毒     新型 冠狀 病毒
4        口罩
5      Zoom
6       慶餘年         慶 餘年
7   法證先鋒 IV     法 證 先鋒 4
8     夫妻的世界      夫妻 的 世界
9        百佳          百 佳

In [14]:
# Get Google Top Charts
top_charts_df = pytrend.top_charts(2019, hl='en-US', tz=300, geo='HK')
print(top_charts_df.head(10))

    title exploreQuery
0      連登
1     黃心穎
2     皓鑭傳         皓 鑭傳
3  Thanos
4     教育局
5     許志安
6    立場新聞
7      港鐵
8   區議會選舉
9     何君堯

In [15]:

# Get Google Keyword Suggestions
suggestions_dict = pytrend.suggestions(keyword='Power BI Course')
print(suggestions_dict)

[{'mid': '/g/11df5dqgqd', 'title': 'Evarcity - Machine Learning | Artificial Intelligence | Data Science | Power BI Course in Bangalore', 'type': 'Educational institution in Bengaluru, India'}, {'mid': '/g/11b6tr8rzf', 'title': 'IT Corporate Training - Corporate Training in Advanced Excel, Power BI & DAX Courses in Mumbai', 'type': 'Topic'}]